<a name="about"></a>
  <div class="about">
    <h1> About Byron </h1>

     <section class="content">

    <p>
      Byron Lutz. A UCLA alumnus and full-stack software engineer at Factual.
      He likes to program, design, volunteer, and dogs (in no specific order).
    </p>

    <p>
      He grew up in Northern California and graduated from Central Catholic High School in Modesto.
    </p>

    <p>
      After graduating high school in 2010, he went to UCLA to pursue a degree in Computer Science & Engineering.
    </p>

    <p>
      Besides programming, designing and volunteering. Here is a list of other things he like.
    </p>

    <div class='favorite_things_wrapper'>
      <div class="favorite_things">
          <p>Whipped Cream</p>
          <p>Good Country Music</p>
          <p>Running</p>
          <p>Nice People</p>
          <p>Random Science</p>
          <p>Being Outdoors</p>
          <p>Words</p>
          <p>Again, in no particular order</p>
      </div>
    </div>

    <p>
      Here is my favorite quote from his list of favorite quotes.
    </p>

    <p>
      "Our greatest glory is not in never falling, but in getting up every time we do." —Confucius
    </p>

  </section>
