<h1>Events</h1>
<ul style="list-style: none;">
  <li><h2>Fall Quarter Kickoff and Mixer</h2>
<p>Thursday, October 5 - 3426 Boelter Hall</p>
  </li>
  <li><h2>Banana Costume Competition</h2>
<p>Tuesday, October 31 - Bottom of Janss Steps</p>
  </li>
  <li><h2>5th Week Banana Eating Competition</h2>
<p>Friday, November 3 - De Neve Dining Hall</p>
  </li>
  <li><h2>Finals Banana Split Break</h2>
<p>Sunday, December 10 - 3426 Boelter Hall</p>
  </li>
</ul>
