<div id="page">
  <div class="top-bar-container" data-sticky-container>
    <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">

        <!-- Small Navigation -->
        <div class="title-bar" data-responsive-toggle="nav-bar-desktop" data-hide-for="medium">
            <div class="row-column">
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-toggle></button>
                </div>
                <div class="title-bar-right">
                    <a class="logo-small show-for-small-only" href="#"><img src="http://placehold.it/50x50?text=LOGO" /></a>
                </div>
            </div>
        </div>

        <!-- Medium+ navigation -->
        <div class="top-bar" id="nav-bar-desktop">
            <div class="row column">
                <div class="top-bar-left">
                    <ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Shrine of Byron</li>
                    <li class="has-submenu"><a href="#about">About</a></li>
                    <li><a href="#pic">Photos</a></li>
                    <li><a href="#">Calendar</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <div class="logo-wrapper hide-for-small-only">
                        <div class="logo">
                            <img src="http://placehold.it/50x50?text=LOGO">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
