<head>
  <!-- Meta Tag Boilerplate -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <!-- Title Description -->
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="https://example.com/favicon.png">

  <!-- Canonical Link -->
  <link rel="canonical" href="{{ canonical-link }}">

  <!-- Open Graph (Facebook) Attributes -->
  <meta property="og:url" content="{{ canonical-link }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ social-media-image }}">
  <meta property="og:locale" content="en_US">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dailybruin">
  <meta name="twitter:creator" content="@dailybruin">
</head>
