<!DOCTYPE html>
<html class="no-js" lang="en-US">
{% include "../partials/head.njk" %}

<body>
  {% include "../partials/header.njk" %}

  <div class="content">
    {% include "../partials/home.njk" %}
    {% include "../partials/members.njk" %}
    {% include "../partials/events.njk" %}
    {% block content %}{% endblock %}
  </div>

  {% include "../partials/footer.njk" %}
  {% include "../partials/scripts.njk" %}
</body>

</html>
