{% extends "./nunjucks/templates/default.njk" %}

{% block rishub %}
	<div class="person">
		<img class="profile" src="http://via.placeholder.com/350x150" />
		<h4>Rishub Kumar</h4>
		<p>Hi This is my bio</p>
	</div>
{% endblock %}
