{% extends "./nunjucks/templates/default.njk" %}

{% block Alex %}
<div class="person">
    <img src="img/alex.jpg" alt="Alexander Chen" class="profile">
    <h4>Alexander Chen</h4>
    <p>Hello I am Alex! I'm a 2nd year CS major at UCLA.</p>
</div>
{% endblock %}
