{% extends "./nunjucks/templates/default.njk" %}

{% block Ashley %}
<div class="person">
  <img class="profile" src="./img/cat 480x480.jpg" alt="placeholder cat">
  <h4>Ashley Miao</h4>
  <p>This is my bio.</p>
</div>
{% endblock %}
