/*icon styles*/
.fi-social-facebook {
  color: dodgerblue;
  font-size: 2rem;
}
.fi-social-youtube {
  color: red;
  font-size: 2rem;
}
.fi-social-pinterest {
  color: darkred;
  font-size: 2rem;
}
i.fi-social-instagram {
  color: brown;
  font-size: 2rem;
}
i.fi-social-tumblr {
  color: navy;
  font-size: 2rem;
}
.fi-social-twitter {
  color: skyblue;
  font-size: 2rem;
}

.sticky {
  width: 100%;
} 

.h1 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
.about {
    height: 100%;
    cursor: default;
    text-align: center;
    background-color: #E3F2FD;
}
.content {
    text-align: center;
    padding: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.favorite_things_wrapper{
    margin: 0 auto;
     width: auto;
}
