header {
  text-align: center;
}

.profile {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.person {
  padding: 50px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}